@import "~include-media/dist/_include-media.scss";


$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;

@include media(">phone", "<tablet") {
  body {
    background: blue;
  }
}


body{
  background: red;
  outline: none;
  display: none;
  @include media(">phone", "<tablet") {
    background: blue;
  }
  @include media(">tablet", "<950px") {
    background: green;
  }
}
